body {
    background: $background-page;
    color: $font-color;
    font-family: $font-text;
    font-size: $font-size;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: $link-color;
    background: $link-background;
}

pre {
    background: $grey-100;
    padding: .5em;
    border-radius: 3px;
    font-size: 0.8 * $font-size;
}

pre:before {
    content: "$";
    margin-right: 10px;
}

.list .item {
    padding: 0 0 10px 0;
}

.container {
    width: $container-width;
    margin: $container-margin;
    padding: $container-padding;
}

.float-right {
    float: right;
}

.center-align {
    display: flex;
}


.hidden { display: none}

//
// bigs
.b-200 { font-size: $font-size * 2;}
.b-300 { font-size: $font-size * 3;}
.b-400 { font-size: $font-size * 4;}