body {
    background: $background-page;
    color: $font-color;
    font-family: $font-text;
    font-size: $font-size;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: $link-color;
    background: $link-background;
}

pre {
    background: $grey-100;
    padding: .5em;
    border-radius: 3px;
    font-size: 0.8 * $font-size;
}

pre:before {
    content: "$";
    margin-right: 10px;
}

.list .item {
    padding: 0 0 10px 0;
}

.container {
    width: $container-width;

    margin-top: $container-margin-top;
    margin-right: $container-margin-right;
    margin-bottom: $container-margin-bottom;
    margin-left: $container-margin-left;

    padding-top: $container-padding-top;
    padding-right: $container-padding-right;
    padding-bottom: $container-padding-bottom;
    padding-left: $container-padding-left;
}

.float-right {
    float: right;
}

.center-align {
    display: flex;
}


.hidden { display: none}

//
// bigs
.b-200 { font-size: $font-size * 2;}
.b-300 { font-size: $font-size * 3;}
.b-400 { font-size: $font-size * 4;}