body {
    background: $background-page;
    color: $font-color;
    font-family: $font-text;
    font-size: $font-size;
}

a {
    cursor: pointer;
}

.container {
    width: $container-width;
    margin: 0 auto;
}

.float-right {
    float: right;
}

.center-align {
    display: flex;
}


.hidden { display: none}

//
// bigs
.b-200 { font-size: $font-size * 2;}
.b-300 { font-size: $font-size * 3;}
.b-400 { font-size: $font-size * 4;}