.grid {
  @extend .layout;
  @extend .horizontal;
}

@for $i from 1 through $grids {
  .grid--#{$i} {
    -ms-flex: $i;
    -webkit-flex: $i;
    flex: $i;
    background: $grid-background;
    padding: $grid-padding;
    margin: $grid-margin;
  }
}