.grid {
  @extend .layout;
  @extend .horizontal;
  @extend .wrap;
  @extend .justified;

  margin-right: $grid-margin-right * -1;
  margin-left: $grid-margin-left * -1;
}
$grid-padding: $grid-padding-right + $grid-padding-left;
$grid-margin: $grid-margin-right + $grid-margin-left;
$offset: 0;
@for $i from 1 through $grids {
  .grid--#{$i} {
    
    flex: 0 0 calc(100% * #{$i / $grids} - #{$grid-margin} - #{$grid-padding});

    background: $grid-background;
    border-radius: 5px;
    text-align: $grid-text-align;

    padding-top: $grid-padding-top;
    padding-right: $grid-padding-right;
    padding-bottom: $grid-padding-bottom;
    padding-left: $grid-padding-left;

    margin-top: $grid-margin-top;
    margin-right: $grid-margin-right;
    margin-bottom: $grid-margin-bottom;
    margin-left: $grid-margin-left;
  }
}