.navbar {

    @extend .layout;
    @extend .horizontal;
    @extend .center;


    height: $navbar-height;

    color: $navbar-font-color;

    background: $navbar-background;

    padding-bottom: $navbar-padding-bottom;


    & > .container {

        @extend .layout;
        @extend .horizontal;
        @extend .center;
        @extend .justified;

    }

    a {
        padding: 1em;


        & > i {

            padding-right: 0.5em;

        }
    }

    h1 {
        margin: 0px;
    }

    .brand {
        font-size: $brand-font-size;
    }

}