.navbar {

    @extend .layout;
    @extend .horizontal;
    @extend .center;


    height: $navbar-height;

    color: $navbar-font-color;

    background: $navbar-background;

    padding-top: $navbar-padding-top;
    padding-right: $navbar-padding-right;
    padding-bottom: $navbar-padding-bottom;
    padding-left: $navbar-padding-left;


    & > .container {

        @extend .layout;
        @extend .horizontal;
        @extend .center;
        @extend .justified;

    }

    a {
        padding: 1em;
        color: $navbar-link-color;
    }

    h1 {
        margin: 0px;
    }

    .brand {
        font-size: $brand-font-size;
    }

}