//
// colors
$default-color: $grey-100;
$primary-color: $cyan;
$warning-color: $orange;
$danger-color: $red;
$success-color: $green;

$google-color: $red-700;


//
// fonts
$font-text: 'Karla', Arial, Helvetica, sans-serif; 
$font-title: $font-text;
$font-color: $grey-900;
$font-size: 16px;

//
// container
$container-width: 80%;

$container-margin-top: 0px;
$container-margin-right: auto;
$container-margin-bottom: 0px;
$container-margin-left: auto;

$container-padding-top: 0;
$container-padding-right: 0;
$container-padding-bottom: 0;
$container-padding-left: 0;

//
// grid
$grids: 5;
$grid-padding: 10px;
$grid-margin: 5px;
$grid-background: transparent;


//
// core
$background-page: $white;

//
// buttons
$buttons-border: 0px;
$buttons-border-radius: 5px;
$buttons-padding: 1em 1.5em;

//
// links
$link-color: $white;
$link-background: transparent;

//
// tags
$tag-font-size: $font-size * 0.75;
$tag-padding: 5px 10px;
$tag-margin: 0px 5px;
$tag-border-radius: 3px;
$tag-text-shadow: 0px 0px 0px black;

//
// navbar
$navbar-font-color: $white;
$navbar-height: 70px;
$navbar-background: $primary-color;
$navbar-padding-up: 0px;
$navbar-padding-right: 0px;
$navbar-padding-bottom: 0px;
$navbar-padding-left: 0px;
$brand-font-size: 2 * $font-size;

//
// master
$master-background: $primary-color;
$master-height: calc(100vh - #{$navbar-height} - #{$navbar-padding-bottom});
$master-title-color: $white;



//
// Forms
$form-input-background: $grey-100;
$form-input-border: 0px solid $primary-color;
$form-input-border-radius: 5px;
$form-input-padding: 10px 15px;

//
// footer
$footer-background: $white;
$footer-border-top: 1px solid $grey-300;
$footer-height: 70px;

$footer-padding-top: 0px;
$footer-padding-right: 0px;
$footer-padding-bottom: 0px;
$footer-padding-left: 0px;

$footer-margin-top: 30px;
$footer-margin-right: 0px;
$footer-margin-bottom: 0px;
$footer-margin-left: 0px;

