//- buttons.pug

h3 Buttons

.grid-wrapper
    .grid-cell    
        h5 Simple Button

        div(class='layout horizontal center-center')
            a(class='button') Button
    .grid-cell
        h5 Code
        pre
            code
                <a class="button">Button</a>
            
.grid-wrapper
    .grid-cell    
        h5 Button Default

        div(class='layout horizontal center-center')
            a(class='button button-default') Button Default
    .grid-cell
        h5 Code
        pre
            code
                <a class="button button-default">Button Default</a>
            
.grid-wrapper
    .grid-cell    
        h5 Button Primary

        div(class='layout horizontal center-center')
            a(class='button button-primary') Button Primary
    .grid-cell
        h5 Code
        pre
            code
                <a class="button button-primary">Button</a>
            
.grid-wrapper
    .grid-cell    
        h5 Button Success

        div(class='layout horizontal center-center')
            a(class='button button-success') Button Success
    .grid-cell
        h5 Code
        pre
            code
                <a class="button button-success">Button Success</a>
            
.grid-wrapper
    .grid-cell    
        h5 Button Warning

        div(class='layout horizontal center-center')
            a(class='button button-warning') Button Warning
    .grid-cell
        h5 Code
        pre
            code
                <a class="button button-warning">Button Warning</a>
            
.grid-wrapper
    .grid-cell    
        h5 Button Danger

        div(class='layout horizontal center-center')
            a(class='button button-danger') Button Danger
    .grid-cell
        h5 Code
        pre
            code
                <a class="button button-danger">Button Danger</a>
            
.grid-wrapper
    .grid-cell    
        h5 Button With Icon

        div(class='layout horizontal center-center')
            a(class='button button-success')
                i.icon
                    i(data-feather='check')
                span check
    .grid-cell
        h5 Code
        pre
            = '<a class="button button-success"><i class="icon"><i data-feather="check" /></i><span>check</span></a>'

        p See all 
            a(href='https://feathericons.com/') Feather Icons