//- buttons.pug

h3 Buttons

.grid-wrapper
    .grid-cell--2    
        h4 Simple Button

        div(class='layout horizontal center-center')
            a(class='button') Button
    .grid-cell--3
        h4 Code
        .textarea
            = '<a class=\'button\'>Button</a>'
            
.grid
    .grid--2    
        h4 Button Default

        div(class='layout horizontal center-center')
            a(class='button button-default') Button Default
    .grid--3
        h4 Code
        .textarea
            = '<a class=\'button button-default\'>Button Default</a>'
            
.grid
    .grid--2    
        h4 Button Primary

        div(class='layout horizontal center-center')
            a(class='button button-primary') Button Primary
    .grid--3
        h4 Code
        .textarea
            = '<a class=\'button button-primary\'>Button</a>'
            
.grid
    .grid--2    
        h4 Button Success

        div(class='layout horizontal center-center')
            a(class='button button-success') Button Success
    .grid--3
        h4 Code
        .textarea
            = '<a class=\'button button-success\'>Button Success</a>'
            
.grid
    .grid--2    
        h4 Button Warning

        div(class='layout horizontal center-center')
            a(class='button button-warning') Button Warning
    .grid--3
        h4 Code
        .textarea
            = '<a class=\'button button-warning\'>Button Warning</a>'
            
.grid
    .grid--2    
        h4 Button Danger

        div(class='layout horizontal center-center')
            a(class='button button-danger') Button Danger
    .grid--3
        h4 Code
        .textarea
            = '<a class=\'button button-danger\'>Button Danger</a>'
            
.grid
    .grid--2    
        h4 Button With Icon

        div(class='layout horizontal center-center')
            a(class='button button-success')
                i.icon
                    i(data-feather='check')
                span check
    .grid--3
        h4 Code
        .textarea
            = '<a class="button button-success"><i class="icon"><i data-feather="check" /></i><span>check</span></a>'

        p See all 
            a(href='https://feathericons.com/') Feather Icons