h3 Typography

p Font Default: 
    a(href="https://fonts.google.com/specimen/Karla" target="_blank") 'Karla'

.grid-wrapper
    .grid-cell
        h1 h1 Typography
        h2 h2 Typography
        h3 h3 Typography
        h4 h4 Typography
        h5 h5 Typography
        h6 h6 Typography
        p p Typography
    
    .grid-cell
        h1 0 1 2 3 4 5 6 7 8 9
        h2 0 1 2 3 4 5 6 7 8 9
        h3 0 1 2 3 4 5 6 7 8 9
        h4 0 1 2 3 4 5 6 7 8 9
        h5 0 1 2 3 4 5 6 7 8 9
        h6 0 1 2 3 4 5 6 7 8 9
        p 0 1 2 3 4 5 6 7 8 9
