//- grid.pug

extends ./../layout.pug

block content
    h3 Grid System
    
    .grid
        .grid--1 1
        .grid--1 1
        .grid--1 1
        .grid--1 1
        .grid--1 1

    .grid        
        .grid--1 1
        .grid--1 1
        .grid--1 1
        .grid--2 2

    .grid
        .grid--1 1
        .grid--1 1
        .grid--3 3
    
    .grid
        .grid--1 1
        .grid--4 4
    
    .grid
        .grid--1 1
        .grid--2 2
        .grid--2 2

    .grid
        .grid--1 1
        .grid--3 3
        .grid--1 1

    .grid
        .grid--2 2
        .grid--3 3

    .grid
        .grid--5 5