//- index

extends layout.pug

block content
    h3 Introduction

    p I'm glad you came!

    h4 Components

    .grid
        .grid--1 Alerts
        .grid--1 Alerts
        .grid--1 Alerts
        .grid--1 Alerts
        .grid--1 Alerts
        .grid--1 Alerts
        .grid--1 Alerts
        .grid--1 Alerts
        .grid--1 Alerts
        .grid--1 Alerts
        .grid--1 Alerts
        .grid--1 Alerts
        .grid--1 Alerts
        .grid--1 Alerts
        .grid--1 Alerts
        .grid--1 Alerts
        .grid--1 Alerts
        .grid--1 Alerts
        .grid--1 Alerts