//- index

extends layout.pug

block content

    div(class='master layout vertical center center-center')
        h1 Create minimalist layouts and improve your workflow

    .container

        h3 Introduction

        p I'm glad you came!

        h4 Components

        .layout
            .flex-1 Alerts
            .flex-1 Alerts
            .flex-1 Alerts
            .flex-1 Alerts
            .flex-1 Alerts
            .flex-1 Alerts
            .flex-1 Alerts
            .flex-1 Alerts
            .flex-1 Alerts
            .flex-1 Alerts
            .flex-1 Alerts
            .flex-1 Alerts
            .flex-1 Alerts
            .flex-1 Alerts
            .flex-1 Alerts
            .flex-1 Alerts
            .flex-1 Alerts
            .flex-1 Alerts
            .flex-1 Alerts