//- index

extends layout.pug

block content

    div(class='master layout vertical center center-center text-center')
        h1(class='title h3') Create minimalist layouts and improve your workflow
        .content
            a(class='button button-default', href='started.html') Get Started

    .container
        .grid-wrapper
            .grid-cell
                h3.h4 Easy & Fast
                p GabUI is a flexbox-based framework. Easy to customize and fast to compile and run in-production.
            .grid-cell
                h3.h4 Light
                p GabUI CSS has less than 10Kb!
            .grid-cell
                h3.h4 Install
                ol.list
                    li.item
                        pre git clone https://github.com/MateusGabi/GabUI
                    li.item
                        pre npm install
                    li.item
                        pre gulp
                    li.item Access http://localhost:3000/docs
                    li.item Read our docs