//- index

extends layout.pug

block content

    div(class='master layout vertical center center-center')
        h1.title Create minimalist layouts and improve your workflow
        .content
            a(class='button button-default', href='started.html') Get Started

    .container
        .grid
            .grid--1
                h3 Easy & Fast
                p GabUI is a flexbox-based framework. Easy to customize and fast to compile and run in-production.
            .grid--1
                h3 Light
                p GabUI CSS has less than 10Kb!
            .grid--1
                h3 Install
                ol.list
                    li.item
                        pre git clone https://github.com/MateusGabi/GabUI
                    li.item
                        pre npm install
                    li.item
                        pre gulp
                    li.item Access http://localhost:3000
                    li.item Read our docs